{% load static wagtailcore_tags wagtailuserbar %}

<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% elif page.title %}{{ page.title }}{% else %}Mi Sitio{% endif %}
        {% endblock %}
        {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %} - {{ current_site.site_name }}{% endif %}
        {% endblock %}
    </title>
    {% if page.search_description %}
    <meta name="description" content="{{ page.search_description }}">
    {% else %}
    <meta name="description" content="{% block meta_description %}Descripción por defecto{% endblock %}">
    {% endif %}

    {% if request.in_preview_panel %}
    <base target="_blank">
    {% endif %}

    <link rel="icon" type="image/svg+xml" href="{% static 'img/Recurso 2JIC LOGO.svg' %}">
    <link rel="stylesheet" href="{% static 'src/output.css' %}?{% now "U" %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/alert.css' %}" type="text/css" />
    {% block extra_head %}{% endblock %}
</head>

<body class="flex flex-col min-h-screen">
    {% include 'alert.html' with messages=messages %}

    {% if user.is_staff %}
        {% wagtailuserbar 'top-right' %}
    {% endif %}

    {% include 'header.html' %}
    <main id="contenido-principal" class="pt-18 overflow-x-hidden">
        {% block content %}{% endblock %}
    </main>
    {% if last_data_update %}
    <div class="mx-auto w-full text-center px-4 pb-3 text-right text-xs text-muted-foreground lg:px-8 bg-card">
        Última vez actualizado: {{ last_data_update|date:"d/m/Y" }}
    </div>
    {% endif %}
    {% include 'footer.html' %}
    {% include 'search_button.html' %}

    {% if debug %} <script src="http://127.0.0.1:35729/livereload.js"></script> {% endif %}
    <script src="{% static 'js/flowbite.min.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>

</html>
