{% if page_obj and page_obj.paginator.num_pages > 1 %}
<div class="{{ color }} flex flex-col items-center py-6 gap-2">
    <span class="text-sm text-body">
        Mostrando
        <span class="font-semibold text-heading"
            >{{ page_obj.start_index }}</span
        >
        a
        <span class="font-semibold text-heading">{{ page_obj.end_index }}</span>
        de
        <span class="font-semibold text-heading"
            >{{ page_obj.paginator.count }}</span
        >
        resultados
    </span>
    <nav aria-label="Page navigation" class="flex items-center">
        <ul class="flex -space-x-px text-sm">
            <li>
                {% if page_obj.has_previous %}
                <a
                    href="?{% if page_query %}{{ page_query }}&{% endif %}page={{ page_obj.previous_page_number }}"
                    class="flex items-center justify-center text-body bg-neutral-secondary-medium border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading shadow-xs font-medium leading-5 rounded-s-base text-sm px-3 h-9 focus:outline-none"
                    >Previous</a
                >
                {% else %}
                <span
                    class="flex items-center justify-center text-body bg-neutral-secondary-medium border border-default-medium shadow-xs font-medium leading-5 rounded-s-base text-sm px-3 h-9 opacity-50 cursor-not-allowed"
                    >Previous</span
                >
                {% endif %}
            </li>
            {% for num in page_obj.paginator.page_range %}
            <li>
                {% if num == page_obj.number %}
                <span
                    aria-current="page"
                    class="flex items-center justify-center text-fg-brand bg-neutral-tertiary-medium box-border border border-default-medium hover:text-fg-brand font-medium text-sm w-9 h-9 focus:outline-none"
                    >{{ num }}</span
                >
                {% else %}
                <a
                    href="?{% if page_query %}{{ page_query }}&{% endif %}page={{ num }}"
                    class="flex items-center justify-center text-body bg-neutral-secondary-medium border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading shadow-xs font-medium leading-5 text-sm w-9 h-9 focus:outline-none"
                    >{{ num }}</a
                >
                {% endif %}
            </li>
            {% endfor %}
            <li>
                {% if page_obj.has_next %}
                <a
                    href="?{% if page_query %}{{ page_query }}&{% endif %}page={{ page_obj.next_page_number }}"
                    class="flex items-center justify-center text-body bg-neutral-secondary-medium border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading shadow-xs font-medium leading-5 rounded-e-base text-sm px-3 h-9 focus:outline-none"
                    >Next</a
                >
                {% else %}
                <span
                    class="flex items-center justify-center text-body bg-neutral-secondary-medium border border-default-medium shadow-xs font-medium leading-5 rounded-e-base text-sm px-3 h-9 opacity-50 cursor-not-allowed"
                    >Next</span
                >
                {% endif %}
            </li>
        </ul>
    </nav>
</div>
{% endif %}
