{% extends '_base.html' %}
{% block title %}Proyectos{% endblock %}
{% block meta_description %}Repositorio histórico de proyectos de investigación presentados en la JIC Nacional. Filtra por año, universidad y categoría.{% endblock %}

{% block content %}
    {% include 'hero.html' with titulo="Proyectos" descripcion="Repositorio histórico de proyectos de investigación presentados en la JIC." color="bg-cobalt-700/90" text_color="text-primary-foreground" %}
    {% include 'proyectos/components/tabs_filters.html' %}
    {% include 'proyectos/components/results.html' %}
    {% include 'pagination.html' with color="bg-stone-neutral-50" %}
{% endblock %}
