{% extends '_base.html' %}
{% block title %}Participar{% endblock %}
{% block meta_description %}Página de inicio de la jornada de iniciación científica{% endblock %}

{% block content %}
    {% include 'hero.html' with titulo="Participar" descripcion="Toda la información, documentos y recursos necesarios para participar en la JIC según tu rol." color="bg-cobalt-700/90" text_color="text-primary-foreground" %}
    {% include 'participar/components/call_to_action.html' %}
    {% include 'participar/components/resources.html' %}
    {% include 'participar/components/schedule.html' %}
{% endblock %}