{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista previa</title>
    <link rel="icon" type="image/svg+xml" href="{% static 'img/Recurso 2JIC LOGO.svg' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Geist:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'src/output.css' %}" type="text/css" />
</head>
<body class="bg-card font-sans text-foreground">
    {% block content %}{% endblock %}
</body>
</html>
